<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="MyTEST" verbose="1">
    <test name="One">
        <classes>
            <class name="Test_a" />
            <class name="Test_b" />

        </classes>
    </test>
    <test name="Two">
        <packages>
            <package name="test.TESTING_1" />
        </packages>

    </test>

        </suite>